* {
    margin: 0;
    padding: 0;
}

#topo {
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: crimson;
    background-image: url("../images/livros.jpg");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

#topo h1 {
    background-color: darkkhaki;
    border: 2px dashed brown;
    text-decoration: underline;
}

#inserir-link {
    font-size: 25px;
    color: aquamarine;
    float: right;
    margin: 20px;
    text-decoration: none;
}

#menu {
    width: 30%;
    text-align: left;
    margin-top: 50px;
    text-decoration: none;
    font-size: 30px;
}

.menu-area {
    float: left;
    width: 250px;
    height: 100;
}
.busca-area {
    float: left;
    width: 250px;
    height: 100px;
}

#menu li {
    color: cornsilk;
    padding-left: 20px;
    list-style-type: none;
}

#busca {
    margin-top: 100px; 
}

#busca input{
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    left: 270px;
}

#busca button {
    position: absolute;
    display: block;
    left: 470px;
}

